input[type=file] {
  background: none;
  border : none;
}

input[type="file"].ajax_upload {
  display: none;
}
img.ajax_upload_img {
  width: 60px;
  height: 60px;
}

.list-style-none{
  list-style : none;
}
.display-inline-block{
  display: inline-block;
}
.border-right-1px{
  border-right: 1px solid #000;
}
.p-right-10{
  padding-right:  10px;
}